<template>
  <div>
    <el-button @click="onClickCreate">Create</el-button>
    <el-input @input="onSearch" v-model="search" />
    <el-table
      :data="data.nodes"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="Product Name"
      />
      <el-table-column
        prop="description"
        label="Product Description"
      />
      <el-table-column
        prop="price"
        label="Product Price"
      />
      <el-table-column
        fixed="right"
        label="Operations"
        width="120">
        <template slot-scope="scope">
          <el-button @click="onClickUpdate(scope)" type="text" size="small">Edit</el-button>
          <el-button @click="onClickDelete(scope)" type="text" size="small">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="Create Data"
      :visible.sync="dialog.visible"
      width="50%"
      :before-close="handleClose"
    >
      <el-form ref="form" :model="dialog.data">
        <el-form-item>
          <el-input
            placeholder="Product Name"
            v-model="dialog.data.name"
          />
        </el-form-item>
        <el-form-item>
          <el-input
            placeholder="Product Description"
            v-model="dialog.data.description"
          />
        </el-form-item>
        <el-form-item>
          <el-input
            placeholder="Product Price"
            v-model="dialog.data.price"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialog.visible = false">Cancel</el-button>
        <el-button type="primary" @click="onSave">Save</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
// @ is an alias to /src
import client from '@/client';

export default {
  name: 'Home',
  async created() {
    await this.fetchData();
  },
  data() {
    return {
      search: '',
      allProductsRowsSubscription: undefined,
      allProductsRowsInstance: undefined,
      dialog: {
        mode: 'create',
        data: {},
        visible: false,
      },
      data: {
        nodes: [],
        total: 0,
      },
    };
  },
  methods: {
    async onSearch() {
      this.fetchData();
    },
    async fetchData() {
      const { data } = await client
        .view('allProducts')
        .readRows(
          { q: this.search },
          { networkPolicy: 'network-only' },
        )
        .toPromise();
      this.data = data;
    },
    onClickCreate() {
      this.dialog.mode = 'create';
      this.dialog.data = {};
      this.openModal();
    },
    onClickUpdate(scope) {
      this.dialog.mode = 'update';
      const { row } = scope;
      this.dialog.data = row;
      this.openModal();
    },
    async onClickDelete(scope) {
      await client.view('allProducts').deleteRow(scope.row.id);
      this.fetchData();
    },
    openModal() {
      this.dialog.visible = true;
    },
    handleClose() {
      this.dialog.visible = false;
    },
    async onSave() {
      if (this.dialog.mode === 'create') {
        await client.view('allProducts').insertRow(this.dialog.data);
      } else {
        const { id } = this.dialog.data;
        delete this.dialog.data.id;
        await client.view('allProducts').updateRow(id, this.dialog.data);
      }
      this.dialog.visible = false;
      this.fetchData();
    },
  },
};
</script>
