<template>
  <el-card class="box-card">
    <el-form ref="form" :model="form">
      <el-form-item>
        <el-input
          placeholder="Email"
          v-model="form.email"
        />
      </el-form-item>
      <el-form-item>
        <el-input
          type="password"
          placeholder="Password"
          v-model="form.password"
        />
      </el-form-item>
      <el-button type="primary" @click="onLogin">Login</el-button>
    </el-form>
  </el-card>
</template>

<script>

import client from '@/client';

export default {
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    async onLogin() {
      const token = await client.authenticate(
        this.form.email,
        this.form.password,
      );
      window.localStorage.setItem('token', token);
      this.$router.push('/');
    },
  },
};
</script>
